.downSmall {
  position: absolute;
  left: 42%;
  top: 85%;
  height: 1.9rem;
  width: 0.8rem;
  z-index: 1; }

.downMedium {
  position: absolute;
  left: 42%;
  top: 80%;
  height: 5.6rem;
  width: 0.8rem;
  z-index: 1; }

.downLarge {
  position: absolute;
  left: 43%;
  top: 85%;
  height: 13.65rem;
  width: 0.8rem;
  z-index: 1; }

.downExtraLarge {
  position: absolute;
  left: 43%;
  top: 85%;
  height: 9.6rem;
  width: 0.8rem;
  z-index: 1; }

.angleArrow {
  position: absolute;
  z-index: 1;
  width: 3.95rem;
  height: 3.4rem;
  top: 45%;
  left: 76%; }

.leftArrow {
  position: absolute;
  top: 40%;
  right: 75%;
  z-index: 1; }

.rightArrow {
  position: absolute;
  top: 40%;
  left: 75%;
  z-index: 1; }

.downSmall,
.downMedium,
.downLarge,
.leftArrow,
.rightArrow {
  pointer-events: none; }
