button.btn {
  display: "inline-block";
  margin-left: "6px"; }

.btn-death-knight {
  background-color: #c41e3a !important;
  color: #1f2229 !important; }

.btn-death-knight:hover,
.btn-death-knight:focus,
.btn-death-knight:active {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #c41e3a !important;
  color: #c41e3a !important;
  box-shadow: 0 0 0.5rem 0.2rem #ae1b33 !important; }

.btn-hunter {
  background-color: #abd473 !important;
  color: #1f2229 !important; }

.btn-hunter:hover,
.btn-hunter:focus,
.btn-hunter:active {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #abd473 !important;
  color: #abd473 !important;
  box-shadow: 0 0 0.5rem 0.2rem #9fce5f !important; }

.btn-shaman {
  background-color: #0070de !important; }

.btn-shaman:hover,
.btn-shaman:focus,
.btn-shaman:active {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #0070de !important;
  color: #0070de !important;
  box-shadow: 0 0 0.5rem 0.2rem #0063c5 !important; }

.btn-warlock {
  background-color: #9482c9 !important; }

.btn-warlock:hover,
.btn-warlock:focus,
.btn-warlock:active {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #9482c9 !important;
  color: #9482c9 !important;
  box-shadow: 0 0 0.5rem 0.2rem #8570c1 !important; }

.btn-warrior {
  background-color: #c79c6e !important; }

.btn-warrior:hover,
.btn-warrior:focus,
.btn-warrior:active {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #c79c6e !important;
  color: #c79c6e !important;
  box-shadow: 0 0 0.5rem 0.2rem #c08f5c !important; }

.btn-rogue {
  background-color: #fff569 !important;
  color: #1f2229 !important; }

.btn-rogue:hover,
.btn-rogue:focus,
.btn-rogue:active {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #fff569 !important;
  color: #fff569 !important;
  box-shadow: 0 0 0.5rem 0.2rem #fff350 !important; }

.btn-priest {
  background-color: #ffffff !important;
  color: #1f2229 !important; }

.btn-priest:hover,
.btn-priest:focus,
.btn-priest:active {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
  box-shadow: 0 0 0.5rem 0.2rem #f2f2f2 !important; }

.btn-paladin {
  background-color: #f58cba !important; }

.btn-paladin:hover,
.btn-paladin:focus,
.btn-paladin:active {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #f58cba !important;
  color: #f58cba !important;
  box-shadow: 0 0 0.5rem 0.2rem #f375ac !important; }

.btn-mage {
  background-color: #69ccf0 !important;
  color: #1f2229 !important; }

.btn-mage:hover,
.btn-mage:focus,
.btn-mage:active {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #69ccf0 !important;
  color: #69ccf0 !important;
  box-shadow: 0 0 0.5rem 0.2rem #52c4ee !important; }

.btn-druid {
  background-color: #ff7d0a !important; }

.btn-druid:hover,
.btn-druid:focus,
.btn-druid:active {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #ff7d0a !important;
  color: #ff7d0a !important;
  box-shadow: 0 0 0.5rem 0.2rem #f07000 !important; }

.btn-death-knight,
.btn-hunter,
.btn-shaman,
.btn-warlock,
.btn-warrior,
.btn-rogue,
.btn-priest,
.btn-paladin,
.btn-mage,
.btn-druid {
  border: 1px solid rgba(0, 0, 0, 0) !important; }
