.active-talent {
  border: 2px solid rgba(64, 191, 64, 0.8);
  border-radius: 3px; }

.inactive-talent {
  border: 2px solid #c2c4c6;
  border-radius: 3px; }

.maxeds {
  border: 2px solid #ffd100;
  border-radius: 3px; }

.req-inactive {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.req-active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

.talentHover {
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 26%;
  width: 35.944px;
  height: 62%; }

.talentButton {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  border-radius: 3px;
  display: inline-block;
  z-index: 0;
  position: relative;
  width: 35.944px; }
