.tooltip-table {
  background-color: #010921;
  border: 1.5px solid white;
  display: table;
  border-collapse: separate;
  border-spacing: 0px;
  width: 15rem;
  border-radius: 5px;
  padding: 5px; }

.tooltip-double-row {
  white-space: nowrap; }

.rank-padding {
  padding-left: 5px; }

table.tooltip-table tr td:first-of-type {
  text-align: left; }

table.tooltip-table tr td:nth-child(2) {
  text-align: right;
  margin-left: 0px; }

.tooltip-gray {
  color: #9d9d9d; }

.tooltip-gold {
  color: #ffd100; }

.tooltip-green {
  color: #1eff00; }
