@import "variables/common-variables";

button.btn {
  display: "inline-block";
  margin-left: "6px";
}

.btn-death-knight {
  background-color: $death-knight !important;
  color: $background-color !important;
}

.btn-death-knight:hover,
.btn-death-knight:focus,
.btn-death-knight:active {
  background-color: $transparent !important;
  border: 1px solid $death-knight !important;
  color: $death-knight !important;
  box-shadow: 0 0 0.5rem 0.2rem $death-knight-hover !important;
}

.btn-hunter {
  background-color: $hunter !important;
  color: $background-color !important;
}

.btn-hunter:hover,
.btn-hunter:focus,
.btn-hunter:active {
  background-color: $transparent !important;
  border: 1px solid $hunter !important;
  color: $hunter !important;
  box-shadow: 0 0 0.5rem 0.2rem $hunter-hover !important;
}

.btn-shaman {
  background-color: $shaman !important;
}

.btn-shaman:hover,
.btn-shaman:focus,
.btn-shaman:active {
  background-color: $transparent !important;
  border: 1px solid $shaman !important;
  color: $shaman !important;
  box-shadow: 0 0 0.5rem 0.2rem $shaman-hover !important;
}

.btn-warlock {
  background-color: $warlock !important;
}

.btn-warlock:hover,
.btn-warlock:focus,
.btn-warlock:active {
  background-color: $transparent !important;
  border: 1px solid $warlock !important;
  color: $warlock !important;
  box-shadow: 0 0 0.5rem 0.2rem $warlock-hover !important;
}

.btn-warrior {
  background-color: $warrior !important;
}

.btn-warrior:hover,
.btn-warrior:focus,
.btn-warrior:active {
  background-color: $transparent !important;
  border: 1px solid $warrior !important;
  color: $warrior !important;
  box-shadow: 0 0 0.5rem 0.2rem $warrior-hover !important;
}

.btn-rogue {
  background-color: $rogue !important;
  color: $background-color !important;
}

.btn-rogue:hover,
.btn-rogue:focus,
.btn-rogue:active {
  background-color: $transparent !important;
  border: 1px solid $rogue !important;
  color: $rogue !important;
  box-shadow: 0 0 0.5rem 0.2rem $rogue-hover !important;
}

.btn-priest {
  background-color: $priest !important;
  color: $background-color !important;
}

.btn-priest:hover,
.btn-priest:focus,
.btn-priest:active {
  background-color: $transparent !important;
  border: 1px solid $priest !important;
  color: $priest !important;
  box-shadow: 0 0 0.5rem 0.2rem $priest-hover !important;
}

.btn-paladin {
  background-color: $paladin !important;
}

.btn-paladin:hover,
.btn-paladin:focus,
.btn-paladin:active {
  background-color: $transparent !important;
  border: 1px solid $paladin !important;
  color: $paladin !important;
  box-shadow: 0 0 0.5rem 0.2rem $paladin-hover !important;
}

.btn-mage {
  background-color: $mage !important;
  color: $background-color !important;
}

.btn-mage:hover,
.btn-mage:focus,
.btn-mage:active {
  background-color: $transparent !important;
  border: 1px solid $mage !important;
  color: $mage !important;
  box-shadow: 0 0 0.5rem 0.2rem $mage-hover !important;
}

.btn-druid {
  background-color: $druid !important;
}

.btn-druid:hover,
.btn-druid:focus,
.btn-druid:active {
  background-color: $transparent !important;
  border: 1px solid $druid !important;
  color: $druid !important;
  box-shadow: 0 0 0.5rem 0.2rem $druid-hover !important;
}

.btn-death-knight,
.btn-hunter,
.btn-shaman,
.btn-warlock,
.btn-warrior,
.btn-rogue,
.btn-priest,
.btn-paladin,
.btn-mage,
.btn-druid {
  border: 1px solid $transparent !important;
}
