@import "variables/common-variables";

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.overlay {
  width: 100%;
}

.hovereffect:hover {
  border-radius: 15px;
}

div[data-theme="Hunter"],
div[data-theme="Shaman"],
div[data-theme="Warlock"],
div[data-theme="Warrior"],
div[data-theme="Rogue"],
div[data-theme="Priest"],
div[data-theme="Paladin"],
div[data-theme="Mage"],
div[data-theme="Druid"],
h1#select-a-class {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0%;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 1;
  }
}

div[data-theme="Shaman"] {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
div[data-theme="Warlock"] {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
div[data-theme="Warrior"] {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
div[data-theme="Rogue"] {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
div[data-theme="Priest"] {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
div[data-theme="Paladin"] {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
div[data-theme="Mage"] {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
div[data-theme="Druid"] {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

h1#select-a-class {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

div[data-theme="Hunter"]:hover {
  box-shadow: 0 0 2rem 0.02rem $hunter;
  border: 2px solid $hunter;
  transition-property: box-shadow, border;
  transition-duration: 0.6s;
}

div[data-theme="Shaman"]:hover {
  box-shadow: 0 0 2rem 0.02rem $shaman;
  border: 2px solid $shaman;
  transition-property: box-shadow, border;
  transition-duration: 0.6s;
}

div[data-theme="Warlock"]:hover {
  box-shadow: 0 0 2rem 0.02rem $warlock;
  border: 2px solid $warlock;
  transition-property: box-shadow, border;
  transition-duration: 0.6s;
}

div[data-theme="Warrior"]:hover {
  box-shadow: 0 0 2rem 0.02rem $warrior;
  border: 2px solid $warrior;
  transition-property: box-shadow, border;
  transition-duration: 0.6s;
}

div[data-theme="Rogue"]:hover {
  box-shadow: 0 0 2rem 0.02rem $rogue;
  border: 2px solid $rogue;
  transition-property: box-shadow, border;
  transition-duration: 0.6s;
}

div[data-theme="Priest"]:hover {
  box-shadow: 0 0 2rem 0.02rem $priest;
  border: 2px solid $priest;
  transition-property: box-shadow, border;
  transition-duration: 0.6s;
}

div[data-theme="Paladin"]:hover {
  box-shadow: 0 0 2rem 0.02rem $paladin;
  border: 2px solid $paladin;
  transition-property: box-shadow, border;
  transition-duration: 0.6s;
}

div[data-theme="Mage"]:hover {
  box-shadow: 0 0 2rem 0.02rem $mage;
  border: 2px solid $mage;
  transition-property: box-shadow, border;
  transition-duration: 0.6s;
}

div[data-theme="Druid"]:hover {
  box-shadow: 0 0 2rem 0.02rem $druid;
  border: 2px solid $druid;
  transition-property: box-shadow, border;
  transition-duration: 0.6s;
}

.hovereffect .overlay {
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: $transparent-black;
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  transition: all 0.4s linear;
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: $transparent-black;
  transform: translatey(-100px);
  transition: all 0.2s ease-in-out;
  padding: 10px;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: $white;
  border: 1px solid $white;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.2s ease-in-out;
  margin: 45% 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px $white;
}

.hovereffect:hover img {
  transform: scale(0.75);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  transition-delay: 0.2s;
}

.classIcon {
  border-radius: 25px;
}


.class-icon {
  height: 80%;
  width: 100%;
  border-radius: 25px;
}

@media screen and (max-width: 576px) {
  .class-icon {

    width: 100%;
  }
  a.info {
    margin: 35% 0 0 !important;
  }
  .playable-class-name {
    font-size: large;
  }
}
