@import "variables/common-variables";

.tooltip-table {
  background-color: $tooltip-bg;
  border: 1.5px solid $white;
  display: table;
  border-collapse: separate;
  border-spacing: 0px;
  width: 15rem;
  border-radius: 5px;
  padding: 5px;
}

.tooltip-double-row {
  white-space: nowrap;
}

table.tooltip-table tr td:first-of-type {
  text-align: left;
}

table.tooltip-table tr td:nth-child(2) {
  text-align: right;
  margin-left: 0px;
}

.tooltip-gray {
  color: $tooltip-gray;
}

.tooltip-gold {
  color: $tooltip-gold;
}

.tooltip-green {
  color: $tooltip-green;
}
